
body{
    margin: 40px;
    padding: 0px;
    background-color: brown;
}

.historias{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;

}

.historia{
    background-color: coral;
    width: 200px;
    margin-right: 24px;
}

.historia .foto{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}

.historia .texto{
    text-align: center;
}